# ===========================
# Python
# ===========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg-info/
*.egg

# ===========================
# Virtual Environments
# ===========================
.venv/
env/
venv/

# ===========================
# IDE / OS files
# ===========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===========================
# ML / YOLO outputs
# ===========================
runs/
results/
*.pt
*.pth
*.onnx
*.h5

# ===========================
# Videos / images / datasets
# ===========================
*.avi
*.mp4
*.mov
*.mkv
data/
dataset/
*.zip

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Secrets / API keys
# ===========================
.env